/***********************/
/*****   Colors   *****/
/***********************/

$background: #000;
$menubackground: #000;
$primary: #1BCABD;
$darken-text: #000; 
$lighten-text: #fff; 



$font-stack: 'Nunito', sans-serif;

